<!DOCTYPE html>
<html>
<head>
  <title>All Members</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav>
   <ul>
     <li><a href='/members'>Show all Members</a></li>
   </ul>
 </nav>
  <%= yield %>
</body>
</html>
