<h2>New Class</h2>

<div class="form_container">
<form action="/members" method="post">

  <label for="class-name">Class Name:</label>
  <input id="class-name" type="text" name="class_name" required>

  <label for="class-description">Class Description:</label>
  <input id="class-description" type="text" name="class_description" required>

  <label for="class_time">Class Time: </label>
  <input id="class-time" type="text" name="class_time" required>

  <label for="class-instructor">Class Instructor:</label>
  <input id="class-instructor" type="text" name="class_instructor" required>

  <label for="class-spaces">Class Spaces:</label>
  <input id="class-spaces" type="number" name="class_spaces" required>

  <input type="submit" id ='NewClass-button' class='showbutton'value="Add New Class">
</div>
