<!DOCTYPE html>
<html>

<head>
  <title>Programmed Fitness</title>
   <link rel="stylesheet" type="text/css" href="/style.css">

   <!-- LOGO/TITLE -->
   <div class="row">
   <div class="title_text">
   <img src="/pf_title2.png">
 </div>
</div>

 <!-- NAV BAR -->
 <div class="nav">

 <!-- LINKS - CENTER -->
  <div class="nav-center">
    <a href="/home" class="active">HOME</a>
  </div>

<!-- LINKS - LEFT -->
  <div class="nav-left">
    <a href="/members">View Members</a>
    <a href="/gym_classes">View Classes</a>
    <a href="/bookings">View Bookings</a>
  </div>
<!-- LINKS - RIGHT -->
  <div class="nav-right">
    <a href="/members/new">New Member</a>
    <a href="/gym_classes/new">New Class</a>
    <a href="/bookings/new">New Booking</a>
  </div>

</div>
</head>
<body>
<%= yield %>
</body>
</html>
