
<!DOCTYPE html>
<html>
<head>
  <title>All Classes</title>
  <!-- <link rel="stylesheet" href="/style.css"> -->
</head>
<body>
  <nav>
   <ul>
     <li>
    <a href='/members'>Show all Members</a>
    <a href="/members/new">Create New Member</a>
    <a href='/gym_classes'>Show all Classes</a>
    <a href="/gym_classes/new">Create New Class</a>
    <a href='/bookings'>Show all Bookings</a>
    <a href="/bookings/new">Create New Booking</a>
   </li>
   </ul>
 </nav>
  <%= yield %>
</body>
</html>
