<h2>New Member</h2>
<div class="form_container">
<form action="/members" method="post">

  <label for="first-name">First Name:</label>
  <input id="first-name" type="text" name="first_name" required>

  <label for="last-name">Last Name:</label>
  <input id="last-name" type="text" name="last_name" required>

  <label for="email">Member Email: </label>
  <input id="email" type="text" name="email" required>

  <input type="submit" id ='NewMember-button' class='showbutton'value="Add New Member">
</div>
